


<li class="nav-item active">
    <a class="nav-link" href="/qlkt">
        <i class="fas fa-fw fa-table"></i>
        <span>Gửi Y/c</span></a>
</li>

<li class="nav-item ">
    <a class="nav-link" href="/user">
        <i class="fas fa-fw fa-table"></i>
        <span>Xem Yêu Cầu</span></a>
</li>

<li class="nav-item">
    <a class="nav-link" href="http://file.diamondplace.vn:82/" target="_blank">
        <i class="fa fa-folder"></i>
        <span>File-DiamondPlace1</span>
    </a>
</li>
<!-- <li class="nav-item ">
    <a class="nav-link" href="/user" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
      <i class="fas fa-fw fa-wrench"></i>
      <span>Xem Yêu Cầu</span>
    </a>
  </li> -->
  <style>
  .bg-gradient-primary {
        background-image: linear-gradient(180deg,#7d5c08 10%,#7d5c08 100%);
        
  }
  </style>