<li class="nav-item ">
    <a class="nav-link" style="color: rgb(245, 190, 51); ">
    <!-- <i class="fa-diamond"></i> -->
    <span style="font-weight: bold; font-size: large;">DP2</span></a>
</li>
<li class="nav-item ">
  <a class="nav-link" href="/qlkt/viewyeucau">
    <i class="fas fa-fw fa-table"></i>
    <span>Gửi Y/c</span></a>
</li>

<li class="nav-item">
  <a class="nav-link" href="/qlkt">
    <i class="fas fa-fw fa-table"></i>
    <span>Duyệt Y/c</span></a>
</li>


<li class="nav-item ">
  <a class="nav-link" href="/qlkt/xemlichsu">
    <i class="fas fa-fw fa-wrench"></i>
    <span>Xem Lich Sử</span>
  </a>
</li>

<li class="nav-item ">
  <a class="nav-link" href="/house/themcvdinhky">
    <i class="fa fa-bell"> </i>
     <span>CV Định kỳ</span> 
  </a>
</li>
<!-- <li class="nav-item">
    <a class="nav-link" href="http://file.diamondplace.vn:82/" target="_blank">
        <i class="fa fa-folder"></i>
        <span>File-DiamondPlace1</span>
    </a>
</li> -->
<style>
  .bg-gradient-primary {
    background-image: linear-gradient(180deg, #28690a 10%, #000000 100%);

  }
</style>