<div style="margin-bottom:20px; color: rgba(219, 14, 141, 0.925); position: relative; bottom: auto;">
  <h3>FORM NHẬP ĐỘNG CƠ / MÁY LẠNH</h3>
</div>
<div>
  <% if (typeof msg != 'undefined') { %>
    <div style="color: green; align-items: center;">
      <%= msg %>
    </div>
  <% } else if (typeof msge != 'undefined') { %>
    <div style="color: rgb(239, 5, 28); align-items: center;">
      <%= msge %>
    </div>
  <% } else { %>

  <% } %>
</div>
<form action="/dongco/taodongco" method="post">
  <div class="form-row col-md-12">
    <div class="form-group col-md-6">
      <label>0.Loại</label>
      <select class="custom-select" id="inputGroupSelectheadcount" name="selectloai" required>
          <option value='' selected disabled hidden>Chọn Loại ... </option>
          <option value="Động Cơ">Động cơ</option>
          <option value="Máy Lạnh">Máy Lạnh</option>
      </select>
    </div>
  </div>
  <div class="form-row col-md-12">
    <div class="form-group col-md-6">
      <label>1.Tên Thiết Bị</label>
      <input type="text" class="form-control" id="txttentb" placeholder="Tên Thiết Bị" name="tentb" required>
    </div>
    <div class="form-group col-md-6">
      <label>2.Vị trí</label>
      <input type="text" class="form-control" id="txtvitri" placeholder="Vị trí" name="vitri" required>
    </div>
  </div>
  <div class="form-row col-md-12">
    <div class="form-group col-md-6">
      <label>3.Công suất</label>
      <input type="text" class="form-control" id="txtcongsuat" placeholder="Công suất" name="congsuat" required>
    </div>
    <div class="form-group col-md-6">
      <label>4.Model</label>
      <input type="text" class="form-control" id="txtmodel" placeholder="Model" name="model" required>
    </div>
  </div>
  <div class="form-row col-md-12">
    <div class="form-group col-md-6">
      <label>5.Điện áp</label>
      <input type="text" class="form-control" id="txtdienap" placeholder="Điện áp" name="dienap" required>
    </div>
    <div class="form-group col-md-6">
      <label>6.Ghi chú</label>
      <textarea class="form-control" rows="8" cols="50" id="areaghichu" name="ghichu"> </textarea>
    </div>
  </div>
  <div class="form-row col-md-12">
    <div class="form-group col-md-6">
      <label>7.Ngày mua</label>
      <input type="date" class="form-control" name="ngaymua" required>
    </div>
    <div class="form-group col-md-6">
      <label>8.Ngày hết hạn</label>
      <input type="date" class="form-control" name="ngayhethan" required>
    </div>
  </div>
  <div class="form-row col-md-12">
    <div class="form-group col-md-12">
      <button type="submit" class="btn btn-primary" id="btncreatetb">LƯU DATABASE</button>
      <button type="button" class="btn btn-success float-right" onclick="xembang()">XEM BẢNG</button>
    </div>
  </div>
</form>
<script>
  function xembang(){
    window.location.href = "/dongco/view"
  }
</script>